@{
    var db = Database.Open("StarterSite");
    var query = "SELECT * FROM Projects"; 
    
   
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Free-Worker @Page.Title</title>
        <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
        <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
       
        <div id="page">
            <div id="header">
                <p class="site-title">Free-Worker</p>
                <div id="login">
                    @if (WebSecurity.IsAuthenticated) {
                        <p>
                            Welcome <a href="@Href("~/Account/ChangePassword")" title="Change password">@WebSecurity.CurrentUserName</a>!
                            <a href="@Href("~/Account/Logout")">Logout</a>
                        </p>
                    } 
                    else {
                         <ul>
                            <li><a href="@Href("~/Account/Register")">Register</a></li>
                            <li><a href="@Href("~/Account/Login")">Login</a></li>                      
                        </ul>
                    }
                </div>
                <ul id="menu">
                    <li><a href="@Href("~/")">Home</a></li>
                    
                    @if (WebSecurity.IsAuthenticated) { 
                        
                         <li><a href="@Href("~/Account/proj")">Browse Projects</a></li>
                    }    
                   else {
                         <li><a href="@Href("~/Account/Login")">Browse Projects</a></li>
                    
                    }

                    @if (WebSecurity.IsAuthenticated) {
                        <li><a href="@Href("~/Account/postproj")">Post Projects</a></li>
                    } 
                   else {
                         <li><a href="@Href("~/Account/Login")">Post Projects</a></li>
                    }
                @if (WebSecurity.IsAuthenticated) {
                         <li><a href="@Href("~/Account/profile")">View Profile</a></li>
                    } 
                   else {
                         <li><a href="@Href("~/Account/Login")">View Profile</a></li>
                    }

                     <li><a href="@Href("~/About")">About</a></li>
                </ul>
            </div>
            <div id="main">
                <div id="content">
                    <h1>@Page.Title</h1>
                    @RenderBody()
                </div>
                <div id="footer">
                    &copy; @DateTime.Now.Year - freeworkers.com
                </div>
            </div>
        
            </div>
    
        </body>
</html>