@{
     Layout = "~/_SiteLayout.cshtml";
    var db = Database.Open("StarterSite");
    var selectQueryString = "SELECT * FROM Projects WHERE id=@0";
    
    var id  = UrlData[0];

    if (id.IsEmpty()) {
         Response.Redirect(@Href("~/Account/temp"));
     }

    var row = db.QuerySingle(selectQueryString, id);
    var Bids = "";
    var Project_ID=row.id;
    var Message ="";
    var Miles="";
    var Dur="";
    
    var totalbid=row.Bids;
    var avgbid=row.avrage_bid;
    var myavg= totalbid*avgbid;
    var res="";
var count=row.Bids;
     if (WebSecurity.IsAuthenticated) 
        {
         var UserID= @WebSecurity.CurrentUserName;                
       

    
    var Description=row.Description;

    if (IsPost) {
        Message = Request["Message"];
         Bids = Request["Bids"];
         Miles=Request["Miles"];
         Dur=Request["Dur"];
         if (String.IsNullOrEmpty(Bids)) {
           ModelState.AddError("Bids", "You Must Bid on this Project.");
         }

       

        if(ModelState.IsValid) {
            //var updateQueryString =
          
           db.Execute( "INSERT INTO Bids (Bids,ProjectID,UserID,Miles,Dur,Message) VALUES(@0,@1,@2,@3,@4,@5)",Bids,Project_ID,UserID,Miles,Dur,Message);
           totalbid =totalbid+1;
            var a=Bids;
           var b=0;
             b=a.AsInt();
            res=((myavg+b)/totalbid).ToString();
            //var abid=0;
            
           // abid = int.Parse(res);
           // abid= (double)res;
            var updateQuery =
              "UPDATE Projects SET Bids= @0,avrage_bid=@1  WHERE id= @2 " ;
             db.Execute(updateQuery,totalbid,res,Project_ID);
            Response.Redirect(@Href("~/Account/Success",Project_ID));
         
   
        }
         } 
      
    
  }
  
}

<!DOCTYPE html>
<html>
<head>
    <title>Project Details</title>
    <style type="text/css">
       label { float: left; width: 8em; text-align: right;
                margin-right: 0.5em;}
       fieldset { padding: 1em; border: 1px solid; width: 35em;}
       legend { padding: 2px 4px;  border: 1px solid; font-weight: bold;}
       .validation-summary-errors {font-weight:bold; color:red; font-size:11pt;}
    </style>
</head>
<body>
    <h1>Project Details</h1>

    @Html.ValidationSummary("Errors with your submission:")

    <form method="post" action="">
        <fieldset>
            <legend>Bid on this Project</legend>
            <div>
                <b><label>Average Bid: </label></b>
                <b><p>@row.avrage_bid</p></b><br/>
            </div>
             <div>
                <b><label>Range Bid: </label></b>
                <b><p>@row.Budget</p></b><br/>
            </div>
            <div>
                <b><label>Description: </label></b>
                <i><p>@row.Description</p></i><br/>
            </div>
           
            <div>
               <b><label>Bid:</label></b> 
                <input name="Bids" type="text" value="@Bids" />
            </div>
            <div>
                <b><label>Duration: </label></b>
                 <input name="Dur" type="text" value="@Dur" />
            </div>
            <div>
                <b><label>Milestone: </label></b>
                 <input name="Miles" type="text" value="@Miles" />
            </div>
            <div>
                <b><label>Message:</label></b>
               <input  name="Message"  type="text" value="@Message" />
                
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Bid" class="submit" />
            </div>
          
        </fieldset>
    </form>
</body>
</html>