@{
        Layout = "~/_SiteLayout.cshtml";
    Page.Title = "All Projects";
// Insert a new project into the database
            var db = Database.Open("StarterSite");
var query = "SELECT * FROM Projects"; 
}



<html> 
<body> 
<table border="1" width="100%"> 
<tr>
<th>Project</th> 
<th>Project Type</th> 
<th>Bids</th>
<th>Average_bid</th>
<th>Skills</th> 
<th>Project Starting</th> 
<th>Project End</th> 
</tr>
@foreach(var row in db.Query(query))
{
<tr> 
<td>@row.ProjectName</td> 
<td>@row.Type</td> 
    <td>@row.Bids</td>
    <td>@row.Avrage_bid</td> 
    <td>@row.skills</td> 
     <td>@row.Started</td> 
    <td>@row.Ends</td> 

</tr> 
}
</table> 
</body> 
</html> 